# Render PostgreSQL Environment Variables
# Birebir kopyalayıp backend/.env dosyasına taşıyabilirsiniz

DB_HOST=dpg-d4equ1vpm1nc7390u320-a.frankfurt-postgres.render.com
DB_PORT=5432
DB_USER=yaqp
DB_PASSWORD=6xVluIkR2q6B1LukhK1V4vUBd3CBRiIP
DB_NAME=swapsdb_ivw9

JWT_SECRET=super-secret-jwt-key-min-32-characters-long-12345678

PORT=3000
NODE_ENV=production

FRONTEND_URL=https://swaps-frontend.onrender.com

